body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaço entre os botões */
}

.category-button {
    background-color: rgb(234, 241, 130);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 20px 40px; /* Botões maiores */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Largura fixa para manter todos do mesmo tamanho*/
}

.category-button:hover {
    background-color: #e6d15a;
}

.category-title {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

.category-subtitle {
    font-size: 1em;
    display: block;
}

.voltar-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: rgb(234, 241, 130); /* Cor amarela */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voltar-btn:hover {
    background-color: #e6d15a;
}

.item-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.expand-icon {
    font-size: 1.5em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.overlay.fade-out {
    opacity: 0;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: black;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.item {
    width: 250px;
    height: 200px;
    margin: 10px;
    background-color: rgb(234, 241, 130);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: black;
    background-size: 100% 100%; /* Força a imagem a preencher todo o espaço */
    background-repeat: no-repeat;
    background-position: center;
}

#regras-btn {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 116px;
    height: 36px;
}

@media (max-width: 600px) {
    .categories-container {
        flex-direction: column;
        gap: 10px;
    }

    .item {
        width: 90%;
    }

    .overlay-content {
        width: 95%;
        padding: 15px;
    }

    .category-button {
      width: 90%;
      padding: 15px 30px;
    }
}
